@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: MontserratA;
    src: url('../fonts/MontserratA/MontserratAlternates-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: MontserratA;
    src: url('../fonts/MontserratA/MontserratAlternates-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: MontserratA;
    src: url('../fonts/MontserratA/MontserratAlternates-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: MontserratA;
    src: url('../fonts/MontserratA/MontserratAlternates-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: MontserratA;
    src: url('../fonts/MontserratA/MontserratAlternates-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: MontserratA;
    src: url('../fonts/MontserratA/MontserratAlternates-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
  
body {
    background-color: #dfdfdf;
    font-family: MontserratA, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
    selectable: none
}

a[target='simmons']:hover {
    text-decoration: underline
}

p {
    margin: 0.4rem 0;
    line-height: 1.3rem;
}

/* FOODIES */
a:hover > div.foodies > img {
    @apply blur-none md:opacity-100;
}
a:hover > div.foodies > div {
    @apply translate-x-0;
}

/* TILES */
a:hover > div.tiles img {
    @apply blur-none md:opacity-100;
}
a:hover > div.tiles div {
    @apply translate-x-0;
}

/* CARPETS */
a:hover > div.carpets > img {
    @apply blur-none md:opacity-100;
}
a:hover > div.carpets > div {
    @apply translate-x-0;
}

.child-wrapper > div {
    border-radius: 8px;
}

form input, form textarea {
    padding: 8px 12px;
    border-radius: 4px;
    /* border-bottom: 3px solid #cfcfcf; */
    margin: 8px 0;
    background: #cfcfcf;
    width: 100%;
    font-size: 1.1rem;
}
@layer components {
    .btn {
        @apply px-6 py-2 rounded-sm hover:bg-opacity-90;
    }
    div.slide > div {
        @apply absolute bottom-0 left-0 w-full bg-black bg-opacity-60 text-white p-4 translate-y-full transition-transform duration-200 ease-out;
    }
    div.slide:hover > div {
        @apply translate-y-0;
    }
}

*:focus, *:active {
    outline: none;
}


/* Carousel */
.slides-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}